<div class='socials-container'>
  {% if settings.social_facebook_link != blank %}
    <div><a href="{{ settings.social_facebook_link | escape }}">
      {%- render 'icon-facebook' -%}
    </a></div>
  {% endif %}
  {% if settings.social_twitter_link != blank %}
    <div><a href="{{ settings.social_twitter_link | escape }}">
      {%- render 'icon-twitter' -%}
    </a></div>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
    <div><a href="{{ settings.social_instagram_link | escape }}">
      {%- render 'icon-instagram' -%}
    </a></div>
  {% endif %}
  {% if settings.social_pinterest_link != blank %}
    <div><a href="{{ settings.social_pinterest_link | escape }}">
      {%- render 'icon-pinterest' -%}
    </a></div>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
    <div><a href="{{ settings.social_youtube_link | escape }}">
      {%- render 'icon-youtube' -%}
    </a></div>
  {% endif %}
</div>